#clipping-planes-UI.hidden
    .row-oreiented
        button#add-clip.setting-btn Add
        button#remove-clip.setting-btn Remove
        button#edit-clip.setting-btn Edit
    #clipping-planes-list
    .row-oriented
        button.dialog-btn(value='Ok') Ok
