script(src="/javascripts/objects.js")

//- external
script(src="/javascripts/external/jquery-3.5.1.min.js")
script(src="/javascripts/external/jquery-ui.min.js")
script(src="/javascripts/external/color-picker.min.js")

//- utils
script(src="/javascripts/utils/errorMsg.js")
script(src="/javascripts/utils/requests.js")
script(src="/javascripts/utils/range.js")
script(src="/javascripts/utils/number-input.js")
script(src="/javascripts/utils/Element.js")
script(src="/javascripts/utils/dialog.js")
script(src="/javascripts/utils/linear_alg.js")
script(src="/javascripts/utils/Rgb.js")
script(src="/javascripts/utils/color-picker.js")

//- components
script(src="/javascripts/components/isosurface-ui.js")
script(src="/javascripts/components/with-threshold-ui.js")
script(src="/javascripts/components/clipping-planes-ui.js")
script(src="/javascripts/components/control-panel.js")

script(src="/javascripts/components/ctf/global.js")
script(src="/javascripts/components/ctf/Painter.js")
script(src="/javascripts/components/ctf/Ctf.js")
script(src="/javascripts/components/ctf/CanvasHelper.js")
script(src="/javascripts/components/ctf/MouseInterpreter.js")
script(src="/javascripts/components/ctf/Scene.js")
script(src="/javascripts/components/ctf/CtfInput.js")
script(src="/javascripts/components/ctf/CtfDialog.js")

//- scripts
script(src="/javascripts/scripts/mouse.js")
script(src="/javascripts/scripts/sendframe-server.js")
script(src="/javascripts/scripts/share-resource-dialog.js")
script(src="/javascripts/scripts/camera-transform.js")
script(src="/javascripts/scripts/login-logout.js")
script(src="/javascripts/scripts/reset-data-btn.js")

//- services
script(src="/javascripts/services/color-transfer-function.js")
script(src="/javascripts/services/field-mode.js")
script(src="/javascripts/services/clipping-planes.js")
script(src="/javascripts/services/settings.js")
script(src="/javascripts/services/fields.js")
script(src="/javascripts/services/viewport-size.js")
script(src="/javascripts/services/time.js")
script(src="/javascripts/services/camera-transform.js")
script(src="/javascripts/services/problem.js")

script(src="/javascripts/scripts/onload.js")