link(rel='stylesheet', href='/stylesheets/color-picker.min.css')
link(rel='stylesheet', href='/stylesheets/container-props.css')
link(rel='stylesheet', href='/stylesheets/dropdown-list.css')
link(rel='stylesheet', href='/stylesheets/button.css')
link(rel='stylesheet', href='/stylesheets/separator.css')
link(rel="stylesheet", href="/stylesheets/style.css")
link(rel="stylesheet", href="/stylesheets/control-panel.css")
link(rel="stylesheet", href="/stylesheets/slider.css")
link(rel="stylesheet", href="/stylesheets/number-input.css")
link(rel='stylesheet', href='/stylesheets/isosurface.css')
link(rel='stylesheet', href='/stylesheets/clipping-planes.css')
link(rel='stylesheet', href='/stylesheets/dialog.css')
link(rel='stylesheet', href='/stylesheets/color-transfer-function.css')
link(rel='stylesheet', href='/stylesheets/top.css')
link(rel='stylesheet', href='/stylesheets/player.css')