<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Visualization

        link(rel="stylesheet", href="/stylesheets/resource-sharing-page.css")
    body
        #viewport
            canvas
        
        script(src="/javascripts/external/jquery-3.5.1.min.js")
        script(src="/javascripts/objects.js")
        script(src="/javascripts/utils/errorMsg.js")
        script(src="/javascripts/scripts/share-resource-catch.js")